body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center {
  text-align: center;
}

.add-task input, .add-task button {
  margin-bottom: 10px;
}

.task {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.task button {
  margin-left: 10px;
}
